<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        tools:targetApi="tiramisu">


        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/AppTheme"

            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SelectionActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".SkipSelectionActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".SkipScreenActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".SandhiData"
            android:parentActivityName=".SelectionActivity"/>
        <activity
            android:name=".PariActivity"
            android:parentActivityName=".SelectionActivity"/>
        <activity
            android:name=".TharoPanchangamActivity"
            android:parentActivityName=".SelectionActivity"/>
        <activity
            android:name=".SandyaVandanamActivity"
            android:parentActivityName=".SelectionActivity" />
        <activity
            android:name=".GayathriJapamActivity"
            android:parentActivityName=".SelectionActivity"/>
        <activity
            android:name=".AnsestorDataActivity"
            android:parentActivityName=".SelectionActivity"/>
        <activity
            android:name=".FurtherDetailsActivity"
            android:parentActivityName=".SelectionActivity" />
        <activity
            android:name=".AmavasyaTharpanam"
            android:parentActivityName=".SelectionActivity"/>
        <activity
            android:name=".DeceasedListActivity"
            android:parentActivityName=".SelectionActivity"/>
        <activity
            android:name=".MahalayaTpnmActivity"
            android:parentActivityName=".SelectionActivity" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".SelectionActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".LoginActivity" />
    </application>

</manifest>