<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <application
        android:name="com.sureshtrb.enKarma.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        tools:targetApi="tiramisu">


        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />

        <activity
            android:name="com.sureshtrb.enKarma.LoginActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/AppTheme"

            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.sureshtrb.enKarma.SelectionActivity"
            android:parentActivityName="com.sureshtrb.enKarma.LoginActivity" />
        <activity
            android:name="com.sureshtrb.enKarma.SkipSelectionActivity"
            android:parentActivityName="com.sureshtrb.enKarma.LoginActivity" />
        <activity
            android:name="com.sureshtrb.enKarma.SkipScreenActivity"
            android:parentActivityName="com.sureshtrb.enKarma.LoginActivity" />
        <activity
            android:name="com.sureshtrb.enKarma.SandhiData"
            android:parentActivityName="com.sureshtrb.enKarma.SelectionActivity"/>
        <activity
            android:name="com.sureshtrb.enKarma.PariActivity"
            android:parentActivityName="com.sureshtrb.enKarma.SelectionActivity"/>
        <activity
            android:name="com.sureshtrb.enKarma.TharoPanchangamActivity"
            android:parentActivityName="com.sureshtrb.enKarma.SelectionActivity"/>
        <activity
            android:name="com.sureshtrb.enKarma.SandyaVandanamActivity"
            android:parentActivityName="com.sureshtrb.enKarma.SelectionActivity" />
        <activity
            android:name="com.sureshtrb.enKarma.GayathriJapamActivity"
            android:parentActivityName="com.sureshtrb.enKarma.SelectionActivity"/>
        <activity
            android:name="com.sureshtrb.enKarma.AnsestorDataActivity"
            android:parentActivityName="com.sureshtrb.enKarma.SelectionActivity"/>
        <activity
            android:name="com.sureshtrb.enKarma.FurtherDetailsActivity"
            android:parentActivityName="com.sureshtrb.enKarma.SelectionActivity" />
        <activity
            android:name="com.sureshtrb.enKarma.AmavasyaTharpanam"
            android:parentActivityName="com.sureshtrb.enKarma.SelectionActivity"/>
        <activity
            android:name="com.sureshtrb.enKarma.DeceasedListActivity"
            android:parentActivityName="com.sureshtrb.enKarma.SelectionActivity"/>
        <activity
            android:name="com.sureshtrb.enKarma.MahalayaTpnmActivity"
            android:parentActivityName="com.sureshtrb.enKarma.SelectionActivity" />
        <activity
            android:name="com.sureshtrb.enKarma.AboutActivity"
            android:parentActivityName="com.sureshtrb.enKarma.SelectionActivity" />
        <activity
            android:name="com.sureshtrb.enKarma.RegisterActivity"
            android:parentActivityName="com.sureshtrb.enKarma.LoginActivity"/>
        <activity
            android:name="com.sureshtrb.enKarma.ForgotPasswordActivity"
            android:parentActivityName="com.sureshtrb.enKarma.LoginActivity" />
    </application>

</manifest>